.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100 * var(--vh));
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 9999;
}

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid var(--black);
  border-top-color: transparent;
  @include loaderSpin;
}
