.root {
  @include devicePanel;
}

.title {
  @include deviceSectionTitle;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  li {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}
