.root {
  @include wrapPage;
}

.header {
  margin-bottom: 40px;

  @include breakpoint(mobile-m) {
    margin-bottom: 20px;
  }
}

.title {
  margin-bottom: 10px;
}

.description {
  color: var(--gray);
}
