.root {
  @include wrapPage;
}

.topWrap {
  width: calc(100% - 380px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 30px;

  @include breakpoint(desktop-s) {
    width: calc(100% - 330px);
  }

  @include breakpoint(tablet) {
    width: 100%;
  }
}

.title {
  @include title;
}
