.root {
  @include wrapPage;
}

.topWrap {
  width: calc(100% - 380px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 30px;

  @include breakpoint(desktop-s) {
    width: calc(100% - 330px);
  }

  @include breakpoint(tablet) {
    width: 100%;
  }
}

.title {
  @include title;
}

.historyTitle {
  margin-bottom: 20px;
}

.historyList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.historyCard,
.historyCardIntro {
  background: var(--white);
  border-radius: 10px;
  padding: 15px 20px;
  outline: solid 1px var(--gray-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.historyCardIntro {
  animation: 0.6s focusIn ease-in-out;
}

.historyHeader {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.orderTitle {
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.orderDate {
  color: var(--gray);
  font-size: 14px;
}

.historyTotal {
  text-align: end;
  text-wrap: balance;
  font-weight: 700;
  font-size: 18px;

  span {
    text-wrap: nowrap;
  }
}
