.emptyState,
.wrap,
.emptyStateSkeleton {
  margin-bottom: 40px;
}

.emptyState {
  text-align: center;
  padding: 60px 20px;
  background: var(--white);
  border-radius: 15px;
  outline: solid 1px var(--gray-border);

  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  p {
    color: var(--gray);
    margin-bottom: 20px;
  }
}

.wrap,
.emptyStateSkeleton {
  position: relative;
  display: flex;
  gap: 30px;
  align-items: flex-start;

  @include breakpoint(tablet) {
    flex-direction: column;
  }
}

.emptyStateSkeleton {
  @include skeleton;
  border-radius: 6px;
  outline: solid 1px var(--gray-border);

  &::before {
    z-index: 5;
  }
}
