@use "@/app/styles/animations.scss" as *;

.emptyState,
.wrap,
.emptyStateSkeleton,
.loadingState {
  margin-bottom: 40px;
}

.loadingState {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60dvh;
}

.loader {
  position: relative;

  &::after {
    display: block;
    content: "";
    @include absolute($top: calc(50% - 22px), $left: calc(50% - 20px));
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--black);
    border-top-color: transparent;
    animation: infinite 1s linear loaderSpin;
  }
}

.loadingState,
.emptyState {
  text-align: center;
  padding: 60px 20px;
  background: var(--white);
  border-radius: 15px;
  outline: solid 1px var(--gray-border);

  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  p {
    color: var(--gray);
    margin-bottom: 20px;
  }
}

.wrap,
.emptyStateSkeleton {
  position: relative;
  display: flex;
  gap: 30px;
  align-items: flex-start;

  @include breakpoint(tablet) {
    flex-direction: column;
  }
}

.emptyStateSkeleton {
  @include skeleton;
  border-radius: 6px;
  outline: solid 1px var(--gray-border);

  &::before {
    z-index: 5;
  }
}
