.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 100%;
  color: var(--gray);
  background: var(--gray-light, #f1f2f3);
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

.icon {
  width: 30px;
  height: 30px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
