.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.categories {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
  animation: fromZeroWidth 0.3s ease-in-out;

  @include breakpoint(tablet) {
    padding-bottom: 0;
  }

  &::after {
    content: "";
    opacity: 0;
    width: 0;
    height: 1px;
    background: var(--gray-border);
    position: absolute;
    bottom: 0;
    animation: toZeroWidth 0.4s ease-in-out;
  }

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      &::after {
        content: "";
        opacity: 1;
        width: 100%;
        height: 1px;
        background: var(--gray-border);
        position: absolute;
        bottom: 0;
        animation: fromZeroWidth 0.4s ease-in-out;
      }
    }
  }
}

@keyframes fromZeroWidth {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes toZeroWidth {
  0% {
    opacity: 1;
    width: 100%;
  }

  100% {
    opacity: 0;
    width: 0;
  }
}
