.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 20px;
  height: fit-content;
  padding: 15px;
  outline: 1px dashed var(--gray-border);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      outline-color: var(--accent-color);
    }
  }

  @include breakpoint(desktop-s) {
    padding: 10px;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.resetBtn{
  align-self: center;
}

.titleSkeleton,
.subtitleSkeleton,
.checkBoxSkeleton {
  @include skeleton;

  &::before {
    border-radius: 4px;
  }
}

.titleSkeleton {
  width: 50%;
  height: 31px;
}

.subtitleSkeleton {
  width: 80%;
  height: 20px;
}

.checkBoxSkeleton {
  min-width: 22px;
  width: 22px;
  height: 22px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}