.root,
.cardIntro {
  background: var(--white);
  border-radius: 10px;
  padding: 15px 20px;
  outline: solid 1px var(--gray-border);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.cardIntro {
  @include focusIn;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  @include lineClamp(1);
}

.date {
  color: var(--gray);
  font-size: 14px;
}

.total {
  text-align: end;
  text-wrap: balance;
  font-size: 18px;

  span {
    text-wrap: nowrap;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;

  @include breakpoint(mobile-m) {
    display: contents;
  }
}

.itemsWrapper {
  width: 100%;
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  margin-top: -10px;
  transition: all 0.4s ease-in-out;
}

.itemsWrapperOpen {
  grid-template-rows: 1fr;
  margin-top: 10px;
}

.items {
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-top: dashed 1px transparent;
  padding-top: 10px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.itemsWrapperOpen .items {
  opacity: 1;
  border-top: dashed 1px var(--gray-border);
}

.item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 5px;
  font-size: 14px;
}

.line {
  background-color: var(--gray-border);
  opacity: 0.8;
  height: 1px;
  align-self: center;
}

.detailsBtn {
  min-width: 92px;
  padding: 8px;
  font-size: 14px;

  @include breakpoint(mobile-m) {
    width: 100%;
    margin-top: 10px;
  }
}
